@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloMedicamento

@model EditarMedicamentoViewModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Edição de Medicamentos - Controle de Medicamentos</title>
</head>
<body>

    <h1>Controle de Medicamentos</h1>

    <button> <a href="/">Página Inicial</a></button>
    <button> <a href="medicamentos/visualizar">Visualizar Medicamentos</a></button>

    <h3>Editando Medicamento</h3>

    <form action="/medicamentos/editar/@Model.Id" method="post">

        <label for="Nome">Nome do Medicamento:</label>
        <br />
        <input type="text" name="Nome" id="Nome" value="@Model.NomeMedicamento"/>

        <br />

        <label for="Descricao">Descrição do Medicamento:</label>
        <br />
        <input type="text" name="Descricao" id="Descricao" value="@Model.Descricao" />

        <br />

        <label for="FornecedorId">Fornecedor do Medicamento:</label>
        <br />
        <select name="FornecedorId" id="FornecedorId">
            @foreach( var fornecedor in Model.FornecedoresDisponiveis)
            {
                <option value="@fornecedor.Id">@fornecedor.Nome</option>
            }
        </select>

        <br />

        <label for="Quantidade">Quantidade do Medicamento:</label>
        <br />
        <input type="text" name="Quantidade" id="Quantidade" value="@Model.Quantidade" />

        <hr>

        <button type="submit">Inserir</button>
    </form>

</body>
</html>