@using ControleDeMedicamentos.Models
@using ControleDeMedicamentos.ModuloMedicamento

@model EditarMedicamentoViewModel;

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Edição de Medicamento";
}

<link rel="stylesheet" href="~/form.css" />

<form action="/medicamentos/editar/@Model.Id" method="post">
    <label for="nome">Nome do Medicamento:</label>
    <input type="text" name="nome" value="@Model.NomeMedicamento" />

    <label for="descricao">Descrição do Fornecedor:</label>
    <input type="text" name="descricao" value="@Model.Descricao" />

    <label for="fornecedorId">Fornecedor do Medicamento:</label>
    <select name="fornecedorId" id="fornecedorId">
        @foreach (var f in Model.FornecedoresDisponiveis)
        {
            <option value="@f.Id" @(f.Id == Model.FornecedorId ? "selected" : "")>@f.Nome</option>
        }
    </select>

    <div class="botoes-interacao">
        <a type="button" id="botaoVoltar" href="/medicamentos/visualizar">Voltar</a>
        <button type="submit" id="botaoConfirmar">Confirmar</button>
    </div>
</form>